h1 {
    padding: 20px 0;
    text-align: center;
}

.error {
    list-style: none;
    color: red;
    padding: 0;
}

.empty {
    text-align: center;
}

caption {
    text-align: left;
    font-size: 1.2em;
    padding: 10px 0;
}

table {
    width: 90%;
    margin: 0 auto;
}

td {
    height: 100px;
    text-align: center;
    border-bottom: 1px solid blue;
    padding: 10px 0;
}

td img {
    height: 100%;
}

.amount_change {
    width: 45px;
    text-align: right;
}

.buy {
    display: flex;
    margin-bottom: 20px;
}

.total {
    flex: 1;
    text-align: right;
    font-size: 1.2rem;
}

.total span {
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
}

.purchase {
    flex: 1;
    text-align: left;
    margin-top: 10px;
    margin-left: 40px;
}

input#purchase {
    font-size: 100%;
    font-weight: bold;
    width: 140px;
    background-color: orange;
    padding: 7px 0;
    margin: 5px 0;
    border-style:none;
    border-radius: 5px;
}