/* 未ログイン時用共通CSS */
.error {
    list-style: none;
    color: red;
    padding: 0;
}

h1 {
    padding: 20px 0;
    text-align: center;
} 

p {
    padding: 10px 0;
    text-align: center;
}

form {
    width: 400px;
    border:1px solid #ccc;
    padding: 10px 0;
    margin: 10px auto;
    background: #f0faf0;
}

ul {
    padding:0;
    margin:0;
}

li {
    list-style:none;
    padding: 7px;
}

label {
    display: inline-block;
    width: 140px;
    margin: 5px 10px;
    text-align: right;
    text-align-last: justify;
}

input.text {
    width: 190px;
    padding: 3px 5px;
    margin: 0;
    border-radius: 3px;
}

input[type="submit"] {
    font-size: 100%;
    font-weight: bold;
    width: 140px;
    background-color: orange;
    padding: 7px 0;
    margin: 5px 0;
    border-style:none;
    border-radius: 5px;
}
