header {
    display: flex;
    height: 84px;
    border-bottom: 1px solid;
    background-color: rgb(16,45,40);
}

.logo {
    width: 120px;
    text-align: center;
    border-right: 1px solid black;
}

.logo img {
    height: 100%;
}

.welcome {
    flex: 1;
    color: white;
    text-align: center;
    padding-top: 2px;
}

.nav-item {
    width: 100px;
    text-align: center;
    border-left: 1px solid black;
    position: relative;
}

.nav-item a {
    display: block;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 80px;
    color: white;
    text-decoration: none;
}