.detail td {
    height: 80px;
}

td img {
    height: 100%;
}

.total span {
    color: red;
    font-weight: bold;
    font-size: 1.3rem;
}

.sub_total span {
    font-weight: bold;
    font-size: 1.1rem;
}