h1 {
    padding: 20px 0;
    text-align: center;
} 

.error {
    list-style: none;
    color: red;
    padding: 0;
}

p {
    text-align: center;
}


form {
    width: 400px;
    border:1px solid #ccc;
    padding: 10px 0;
    margin: 10px auto;
    background: #f0faf0;
}


dt {
    display: inline-block;
    width: 140px;
    padding: 7px;
    margin: 5px;
    text-align: right;
    text-align-last: justify;
    float:left;
    clear:both;
}

dd {
    display: inline-block;
    width: 200px;
    padding: 7px;
    margin: 5px;
}

.mail_change {
    display: flex;
}

input.text {
    flex: 4;
    width: 170px;
    padding: 0 5px;
    border-radius: 3px;
    font-size: 90%;
}

input[type="submit"] {
    flex: 1;
    font-size: 70%;
    background-color: orange;
    padding: 3px 7px;
    margin-left: 5px;
    border-style:none;
    border-radius: 3px;
}